@media (min-width: 1024px) {
    .tres {
        width: 30%;
        height: 250px;
    }
}


@media (max-width: 1024px) {
    .dos {
        width: 40%;
        height: 250px;

    }
}

@media (min-width: 768px) {
    .doss {
        width: 40%;
        height: 250px;

    }
}

@media (max-width: 768px) {
    .uno {
        width: 100%;
        height: 250px;

    }
}